@charset "UTF-8";

.heading {
  margin: auto;
}
.heading__title {
  text-align: center;
}
.container__inner {
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 3em;
}
.container__block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}